body{
    background: linear-gradient(#1c1c1c , #000,#1c1c1c);
    height: 97vh;
    scroll-behavior: smooth;
    overflow-x: hidden;    
    color: beige;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.op{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem;
    position: relative;
    top: 5rem;
    left: 0;
    transition: all 5s;
}
.card-img{
    height: 300px;
    border: solid #fff;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.download,.tagbtn,.go,.refresh{
    height: fit-content;
    width: 90px;
    color:#fff;
    border: solid 2px;
    background: linear-gradient(to left ,#1c1c1c,#000);
    padding: 0 10px;
    margin-right: 0.5rem;
    cursor: pointer;
}
.card{
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    background-color: #000;
    border: solid #fff;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}
body::-webkit-scrollbar{
    width: 8px;
    background: linear-gradient(#1c1c1c,#000);
}
.tag{
    margin: 0;
    color: #fff;
    font-size: 15px;
}
.innerdiv{
    display: flex;
    align-items: center;
}
.cap{
    color: beige;
    font-size: 20px;
    text-align: center;
    width:max-content;    
    padding: 0.5rem 0.5rem;
    border: solid #fff;
    margin: 0rem 0 1rem 0.5rem;
    height: 283px;
    border-radius: 1rem;
    visibility: hidden;
    transition: ease-in-out 2s;
}
.cap-position{
    position: absolute;
    left: -300px;
}
.download:hover,.tagbtn:hover{
    scale: 1.05;
}
#limit{
    width: 100px;
    background: linear-gradient(to left,#1c1c1c,#000);
    color: white;
    margin-right: 0.5rem;
}
option{
    background-color: #000;
}
.go,.refresh{
    border: 0.5px solid;
    font-size:small;    
    color: beige;
    margin-right: 0.5rem;
}
.refresh{
    visibility: hidden;
}
.visible{
    visibility: visible;
}
.fa-magnifying-glass{
    font-size: smaller;
}
.que{
    display: inline-block;
    margin: 0 0 0.5rem 0;
}
h1{
    font-size: 3rem;
    text-decoration: underline;
}
h2{
    font-size: 2rem;
}
.download,.tagbtn,.refresh{
    width: auto;
    border: none;
    background: linear-gradient(#000,#000);
}